Student_Job_Finder_AI_Agent_v2.json
{
  "name": "🎓 Student Job Finder AI Agent (Groq - Gratuit)",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -288,
        288
      ],
      "id": "b9e787e9-2956-4de5-b247-51ea2c4be3c4",
      "name": "When clicking 'Execute workflow'"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "student-job-finder",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "7ffd32a9-9a99-4931-ac68-86239f193025",
      "name": "Webhook - Student Input",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -256,
        -16
      ],
      "webhookId": "317ba303-c17d-4ef3-b9b0-d79e5b7b3555"
    },
    {
      "parameters": {
        "jsCode": "const incoming = $input.first().json;\nconst body = incoming.body || incoming;\n\nconst demo = {\n  schedule: 'Lundi 8h-12h, Mardi 8h-18h, Mercredi libre, Jeudi 10h-16h, Vendredi 8h-12h',\n  study_field: 'Informatique',\n  location: 'Tunis, Tunisie',\n  skills: 'Python, Excel, Communication',\n  availability_hours_per_week: 20,\n  preferred_job_type: 'remote ou hybride',\n  monthly_budget_needed: 600,\n  language: 'fr'\n};\n\nconst src = (body.schedule || body.study_field) ? body : demo;\n\nconst required = ['schedule', 'study_field', 'location'];\nconst missing = required.filter(f => !src[f]);\nif (missing.length > 0) {\n  return [{ json: { ok: false, error: `Champs obligatoires manquants: ${missing.join(', ')}`, missing, timestamp: new Date().toISOString() } }];\n}\n\nconst locationParts = (src.location || '').split(',');\nconst city = (locationParts[0] || src.location).trim();\nconst country = (locationParts[1] || 'Tunisie').trim();\n\nreturn [{ json: {\n  ok: true,\n  schedule: src.schedule,\n  studyField: src.study_field,\n  location: src.location,\n  city,\n  country,\n  skills: src.skills || 'Non spécifié',\n  availabilityHours: src.availability_hours_per_week ?? 15,\n  preferredType: src.preferred_job_type || 'les deux',\n  language: src.language || 'fr',\n  budget_needed: src.monthly_budget_needed ?? 500,\n  timestamp: new Date().toISOString()\n} }];"
      },
      "id": "e67660e8-633c-4aee-83ac-6cee897075e3",
      "name": "Validate & Prepare Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -16,
        192
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.ok }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8204a067-9e70-44a0-a1b4-58791bf836fa",
      "name": "IF - Valid Input",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        224,
        192
      ]
    },
    {
      "parameters": {
        "url": "https://api.adzuna.com/v1/api/jobs/fr/search/1",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "app_id",
              "value": "c68f92b5"
            },
            {
              "name": "app_key",
              "value": "933076b03bb977f57f41299f57fab4cb"
            },
            {
              "name": "results_per_page",
              "value": "20"
            },
            {
              "name": "what",
              "value": "={{ $json.studyField }}"
            },
            {
              "name": "where",
              "value": "Paris"
            },
            {
              "name": "part_time",
              "value": "1"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": false
        }
      },
      "id": "cf9eacdc-c5ba-471b-ad77-6943efaf48b6",
      "name": "Adzuna Job Search API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        64
      ]
    },
    {
      "parameters": {
        "url": "https://remotive.com/api/remote-jobs",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "search",
              "value": "={{ $('Validate & Prepare Input').first().json.studyField }}"
            },
            {
              "name": "limit",
              "value": "15"
            }
          ]
        },
        "options": {}
      },
      "id": "75559f9f-ff32-4e46-bfe0-519705383290",
      "name": "Remotive Remote Jobs API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        304
      ]
    },
    {
      "parameters": {},
      "id": "07cc14df-0a0a-40aa-8d26-42820cc9d4fa",
      "name": "Wait for Both APIs",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        752,
        192
      ]
    },
    {
      "parameters": {
        "jsCode": "const studentData = $('Validate & Prepare Input').first().json;\nconst payloads = $input.all().map(i => i.json);\nconst nowISO = new Date().toISOString();\n\nconst stripHtml = (s='') => String(s).replace(/<[^>]*>/g,' ').replace(/\\s+/g,' ').trim();\nconst normalKey = (s='') => stripHtml(s).toLowerCase().trim();\nconst hashKey  = (t,c,l) => `${normalKey(t)}|${normalKey(c)}|${normalKey(l)}`;\n\nfunction hints(text='') {\n  const t = normalKey(text);\n  const h = [];\n  if (/part.time|temps partiel/.test(t)) h.push('part-time');\n  if (/flexible|flexibilit/.test(t)) h.push('flexible');\n  if (/remote|télétravail|distance/.test(t)) h.push('remote');\n  if (/evening|soir|night|nuit/.test(t)) h.push('evening');\n  if (/weekend|samedi|dimanche/.test(t)) h.push('weekend');\n  return h;\n}\n\nlet jobs = [];\n\nfor (const data of payloads) {\n  if (data?.results && Array.isArray(data.results)) {\n    for (const j of data.results) {\n      const desc = stripHtml(j.description || '');\n      jobs.push({\n        id: String(j.id || Math.random().toString(36).slice(2)),\n        title: j.title || 'Titre non disponible',\n        company: j.company?.display_name || 'Non mentionné',\n        location: j.location?.display_name || studentData.location,\n        job_type: 'Présentiel/Hybride',\n        salary_display: (j.salary_min || j.salary_max) ? `${j.salary_min ?? ''} - ${j.salary_max ?? ''} (annuel)` : 'Non spécifié',\n        description: desc.substring(0, 400),\n        apply_url: j.redirect_url || '#',\n        source: 'Adzuna',\n        posted_date: j.created || nowISO,\n        hour_hints: hints(desc)\n      });\n    }\n  }\n  if (data?.jobs && Array.isArray(data.jobs)) {\n    for (const j of data.jobs) {\n      const desc = stripHtml(j.description || '');\n      jobs.push({\n        id: String(j.id || Math.random().toString(36).slice(2)),\n        title: j.title || 'Titre non disponible',\n        company: j.company_name || 'Non mentionné',\n        location: '🌍 Remote (Travail à distance)',\n        job_type: 'Remote',\n        salary_display: j.salary || 'Non spécifié',\n        description: desc.substring(0, 400),\n        apply_url: j.url || '#',\n        source: 'Remotive',\n        posted_date: j.publication_date || nowISO,\n        hour_hints: hints(desc),\n        tags: j.tags || []\n      });\n    }\n  }\n}\n\nconst seen = new Set();\nconst deduped = jobs.filter(j => {\n  const k = hashKey(j.title, j.company, j.location);\n  if (seen.has(k)) return false;\n  seen.add(k);\n  return true;\n});\n\n\nconst prefType = (studentData.preferredType || 'les deux').toLowerCase();\n\nlet filtered = deduped;\nif (prefType === 'remote') {\n  filtered = deduped.filter(j => j.job_type.toLowerCase().includes('remote'));\n} else if (prefType === 'présentiel' || prefType === 'presentiel') {\n  filtered = deduped.filter(j => !j.job_type.toLowerCase().includes('remote'));\n}\n// 'les deux' = keep all\n\nreturn [{ json: { jobs: filtered, studentData, totalFound: filtered.length } }];"
      },
      "id": "a37269f3-1a52-4854-bb12-1b1ce4104fcd",
      "name": "Merge & Normalize Jobs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        192
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify($json.groqPayload) }}",
        "options": {}
      },
      "id": "bf2eda63-7621-466a-909d-36a51fa7cd1c",
      "name": "Groq AI - Filter & Analyze Jobs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1360,
        192
      ]
    },
    {
      "parameters": {
        "jsCode": "const ai = $input.first().json;\nconst studentData = $('Validate & Prepare Input').first().json;\n\nconst raw = ai?.choices?.[0]?.message?.content || ai?.text || ai?.output_text || '';\n\nlet parsed = null;\ntry {\n  const clean = String(raw).replace(/```json\\s*/gi,'').replace(/```\\s*/g,'').trim();\n  parsed = clean ? JSON.parse(clean) : null;\n} catch(e) {\n  parsed = null;\n}\n\nif (!parsed || typeof parsed !== 'object') {\n  parsed = { filtered_jobs: [], total_results: 0, summary: 'Erreur parsing AI: ' + String(raw).slice(0,200), additional_platforms: [] };\n}\n\nconst offers = Array.isArray(parsed.filtered_jobs) ? parsed.filtered_jobs : [];\n\nconst finalOutput = {\n  success: true,\n  generated_at: new Date().toISOString(),\n  ai_model: 'Groq llama3-8b-8192 (Gratuit)',\n  student_profile: {\n    study_field: studentData.studyField,\n    location: studentData.location,\n    schedule: studentData.schedule,\n    skills: studentData.skills,\n    availability: `${studentData.availabilityHours} heures/semaine`,\n    preferred_type: studentData.preferredType,\n    budget_needed: `${studentData.budget_needed} TND/mois`\n  },\n  results: {\n    total_jobs_found: parsed.total_results || offers.length,\n    summary: parsed.summary || '',\n    job_offers: offers.map((job, idx) => ({\n      rank: job.rank ?? (idx + 1),\n      title: job.title,\n      company: job.company,\n      location: job.location,\n      job_type: job.job_type,\n      working_hours: {\n        schedule: job.working_hours || 'Non spécifié',\n        hours_per_week: job.hours_per_week || 'Non spécifié'\n      },\n      compensation: {\n        amount: job.salary || 'Non spécifié',\n        period: 'par mois'\n      },\n      apply: {\n        url: job.apply_url,\n        source_platform: job.source\n      },\n      compatibility: {\n        score: job.compatibility_score ?? null,\n        reason: job.why_compatible || ''\n      },\n      required_skills: job.required_skills || [],\n      personalized_tip: job.tips || ''\n    })),\n    additional_platforms: parsed.additional_platforms?.length ? parsed.additional_platforms : [\n      { name: 'LinkedIn Jobs',     url: 'https://www.linkedin.com/jobs/', description: 'Jobs étudiant, stages, part-time' },\n      { name: 'Tanitjobs.com',     url: 'https://www.tanitjobs.com',      description: 'Offres en Tunisie' },\n      { name: 'Optioncarriere.tn', url: 'https://www.optioncarriere.tn',  description: 'Agrégateur offres Tunisie' },\n      { name: 'Upwork',            url: 'https://www.upwork.com',         description: 'Freelance international remote' },\n      { name: 'Freelancer.com',    url: 'https://www.freelancer.com',     description: 'Micro-missions selon compétences' }\n    ]\n  }\n};\n\nreturn [{ json: finalOutput }];"
      },
      "id": "5c3d0574-6b6b-4f15-92f1-5268ad2caedd",
      "name": "Build Final JSON Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        192
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($input.first().json) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "cf0d0020-54c9-40cf-bd95-7e13c8273590",
      "name": "Respond with JSON",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2032,
        192
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: $json.error || 'Erreur de validation', missing: $json.missing || [], timestamp: new Date().toISOString() }) }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "c18ce468-6671-40ce-a319-b5ddcb0984f5",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        480,
        496
      ]
    },
    {
      "parameters": {
        "jsCode": "return $input.all();"
      },
      "id": "1dee4a51-0da1-45ae-89e6-124664414234",
      "name": "Passthrough",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1824,
        192
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst sd = d.studentData;\n\nconst systemMsg = 'Tu es un conseiller emploi expert pour etudiants. Reponds UNIQUEMENT en JSON valide sans markdown ni backticks.';\n\nconst userMsg = 'Profil: DOMAINE=' + sd.studyField + ', LIEU=' + sd.location + ', SCHEDULE=' + sd.schedule + ', SKILLS=' + sd.skills + ', DISPO=' + sd.availabilityHours + 'h/sem, BUDGET=' + sd.budget_needed + 'TND, TYPE_SOUHAITE=' + sd.preferredType + 'TND. Offres=' + d.totalFound + '. DATA=' + JSON.stringify(d.jobs) + '. Retourne UNIQUEMENT ce JSON valide sans markdown: {\"filtered_jobs\":[{\"rank\":1,\"title\":\"titre\",\"company\":\"entreprise\",\"location\":\"ville\",\"job_type\":\"Remote/Presentiel/Hybride\",\"working_hours\":\"horaires ou Non specifie\",\"hours_per_week\":\"Xh\",\"salary\":\"montant ou Non specifie\",\"apply_url\":\"url exacte\",\"source\":\"site\",\"compatibility_score\":85,\"why_compatible\":\"raison\",\"required_skills\":[],\"tips\":\"conseil\"}],\"total_results\":5,\"summary\":\"resume\",\"additional_platforms\":[]}';\n\nconst groqPayload = {\n  model: 'llama-3.3-70b-versatile',\n  max_tokens: 3000,\n  temperature: 0.3,\n  messages: [\n    { role: 'system', content: systemMsg },\n    { role: 'user',   content: userMsg }\n  ]\n};\n\nreturn [{ json: { groqPayload, studentData: sd } }];"
      },
      "id": "efb7c23b-0813-4492-9b47-b4d952865610",
      "name": "Build Groq Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        192
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Validate & Prepare Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Student Input": {
      "main": [
        [
          {
            "node": "Validate & Prepare Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate & Prepare Input": {
      "main": [
        [
          {
            "node": "IF - Valid Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Valid Input": {
      "main": [
        [
          {
            "node": "Adzuna Job Search API",
            "type": "main",
            "index": 0
          },
          {
            "node": "Remotive Remote Jobs API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adzuna Job Search API": {
      "main": [
        [
          {
            "node": "Wait for Both APIs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remotive Remote Jobs API": {
      "main": [
        [
          {
            "node": "Wait for Both APIs",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Wait for Both APIs": {
      "main": [
        [
          {
            "node": "Merge & Normalize Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge & Normalize Jobs": {
      "main": [
        [
          {
            "node": "Build Groq Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq AI - Filter & Analyze Jobs": {
      "main": [
        [
          {
            "node": "Build Final JSON Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Final JSON Output": {
      "main": [
        [
          {
            "node": "Passthrough",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Passthrough": {
      "main": [
        [
          {
            "node": "Respond with JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Groq Request": {
      "main": [
        [
          {
            "node": "Groq AI - Filter & Analyze Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "505abb06-b2d6-4845-839e-7b5c58ce6733",
  "meta": {
    "instanceId": "ed2d300347754e1b2285084e8cc0f6730b05082884d35010fac415d833999b0f"
  },
  "id": "Lf5TWb7E2Wubx1Om",
  "tags": []
}
